/*past color: #fbb; */

#home {
  background: url(../IMG_0765.jpg) no-repeat center center fixed;
  height: 100%;
  width: auto;
  background-position: 0% 0%;
  background-size: 100%;
  overflow: hidden;
}

.neato-header {
  color: #fff;
  min-width: 20%; 
  max-width: 60%; 
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 38.75%;
  border: 3px solid #fff;
  margin: 5px;
  left: 19%;
}

.neato-header h1 {
  font-size: 3.8em;
  font-family: "Open Sans Condensed";
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.neato-header h2 {
  color: black;
  font-size: 50px;
  font-family: Raleway; 
}

@media (max-width: 768px) {
    .neato-header h1 {
        font-size: 10px;
        line-height: 0.5;
        margin-bottom: 1em;
    }
}

