/*
  ~ Jennifer Walker © 2018 ~
  ★ Created for jw4043.github.io ★
       _   _____  __         __
      | | / ____| \  \  /\  /  /   _   _  _  ___ ___
  __  | | \___  \  \  \/  \/  /\  | | | |/ /| __| __ \
  \ \_/ /  ___) |   \   /\   /  \ | |_|   < | __|    /
   \___/  |_____/    \_/  \_/_/\_\|___|_|\_\|___|_|\_\
*/


/* GENERAL BODY
------------------------*/ 
body {
  margin:0;
  padding:0;
  background: #f1f1f1;
  height:100vh;
  width:100vw;
  position: absolute;
  /*position:fixed; */
}

p {
  color: black;
}

/* LANDING PAGE 
------------------------*/ 

#projects {
  width: 90%; 
  padding: 5%;
}

/* RESUME & PROJECTS HEADERS */
.sectionhead {
  text-align: center;
  position: relative;
  margin: 50px auto;
  margin-bottom: 25px; 
}
.sectionhead h2 {
  font-family: Raleway;
  color: #222;
  font-size: 50px;
  text-align: center;
  margin: 0 30px;
}

.sectionhead span { /* lines */
  display: inline-block;
  position: absolute;
  background: #eaa;
  height: 3px;
  left: 50%;
}
.sectionhead span.top {
  width: 70px;
  top: 40%;
}
.sectionhead span.bottom {
  width: 120px;
  top: 70%;
}
.sectionhead span.left {
  transform: translateX(-230px);
}
.sectionhead span.bottom.left {
  transform: translateX(-280px);
}
.sectionhead span.right {
  transform: translateX(160px);
}

.sectionhead a {
  color: #eaa;
  text-decoration: none; 
}

/* RESUME CONTACT INFO */ 
#resume {
  width: 100vw; 
  padding: 0px;
  margin: 0px; 
}

#rescontact {
  text-align: center;
  position: relative;
  display: block;

}
.rcelement {
  display: inline-block;
  margin: auto;
  vertical-align: middle;
  margin-right: 50px; 
}
.rcelement h3 {
  float: right;
  font-family: Open Sans, sans-serif;  
  text-transform: none; 
  color: black;
}
.rcelementpic {
  height: 20px; 
  margin-right: 10px; 
}

/* NON - HEADER CSS ABOUT SPECIFICITIES */ 
#about {
  text-align: center;
  border-color: black;
  margin-top: 100px;
  margin-bottom: 50px; 
  position: relative;
  display: inline-block;
}

#about p {
  font-family: Open Sans, Roboto, sans-serif;
  font-size: 1.1em; 
  line-height: 1.4em;
  text-align: center;
  color: black;
  margin: 15px; 
}

#about a {
  color: #eaa;
  text-decoration: none;
}





